# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Lock / runtime files
lock/
**/lock/
**/lock.txt

# Build
build/
dist/
*.egg-info/

# Data files
*.csv
*.parquet

# Temporary files
*.tmp
*.temp